
$table-border-color: #eff3f8;


body.dcat-2nd {
  table.dataTable {
    border-collapse:collapse!important;
    margin-top: 0!important;
  }

  .custom-data-table.dcat-box {
    background: $white;
    box-shadow: $shadow;

    .box-footer {
      border-top: 1px solid $table-border-color;
      padding-bottom: 10px!important;
    }
  }

  .custom-data-table-header {
    padding: 10px;

    .btn {
      background-color: transparent !important;
      border-color: transparent !important;
      box-shadow: none!important;
      color: $dark80!important;
      font-weight: bold;
      //font-size: 14px;
    }
    .btn-group {
      box-shadow: none!important;
    }
  }

  table.custom-data-table.dataTable tbody tr td:first-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  table.custom-data-table.dataTable tbody tr td:last-child{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  table.dataTable thead tr {
    background: $white;
  }

  table.custom-data-table.dataTable thead th {
    border-top: 1px solid #e3e7eb;
    border-bottom: 1px solid #e3e7eb;
    background: $dark30;
  }

  table.custom-data-table.dataTable tbody td {
    border-top: 1px solid $table-border-color;
    height: 38px;
  }

  table.custom-data-table.dataTable tbody tr {
    box-shadow: none;
  }

  .custom-data-table-header .table-responsive .top .dataTables_filter .form-control {
    box-shadow: none;
    border-radius: 0;
    border-bottom: 2px solid $input-border-color;
  }
}

body.dcat-2nd.dark-mode {

}

