
@mixin scrollbar($selector) {
  #{$selector}::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  #{$selector}::-webkit-scrollbar-track {
    background-color: #eee;
  }
  #{$selector}::-webkit-scrollbar-thumb {
    background-color: darken(#ddd, 7.5%);
    border-radius: .4rem;
  }
}
