// 主题颜色

$white: #fff;
$body-bg: #f8f8f8;
$gray-100: #babfc7; // $gray-lightest
$gray-200: #ededed; // $gray-lighter
$gray-300: #dae1e7; // $gray-light
$gray-400: #636363;
$gray-500: #adb5bd;
$gray-600: #b8c2cc; // $gray
$gray-700: #4e5154;
$gray-800: #1e1e1e; // $gray-dark
$gray-900: #2a2e30;
$black: #22292f;

//$indigo: #4d5ec1;
$indigo: #5c6bc6;

$blue: #4277cf; //$info
$red: #ea5455; //$danger
$orange: #dda451; //$warning
$green: #21b978; //$success
$cyan: #7367f0; //$primary

// 设置主题颜色
@import "./primary";

$info: $blue;
$warning: $orange;


// 自定义颜色
$custom: #59a9f8;

$dark: #22292f;
$white: #fff;
$white50: hsla(0,0%,100%,.5);

// 灰色
$gray: #b9c3cd;

// 橘色
$orange-1: #ffcc80;
$orange-2: #F99037;

// 黄色
$yellow: #edc30e;

// 深红
$red-darker: #bd4147;

// 深主题色
$primary-darker: darken($primary, 5%);

// 蓝色
$blue: #3085d6;
$blue-darker: #236bb0;

// 水鸭色
$tear: #01847f;
$tear-1: #00b5b5;

// 其他蓝色
$blue-1: #007ee5;
$blue-2: #4199de;

$pink: #ff8acc;

// cyan
$cyan-darker: #6355ee;

$light: #F7F7F9;

// 深色
$dark20: #f6fbff;
$dark30: #f4f7fa;
$dark35: #e7eef7;
$dark40: #ebf0f3;
$dark50: #d3dde5;
$dark60: #bacad6;
$dark65: #8aa5b9;
$dark70: #b3b9bf;
$dark80: #7c858e;
$dark85: #5c7089;
$dark90: #252d37;

// 字体颜色
$font-color: #414750;
//$font-color: #525252;

// body背景颜色
//$body-bg: #f9fafc;
//$body-bg: lighten($dark40, 1.3%);
$body-bg: #eff1f7;//darken(#f4f7fa, 1.4%);
//$body-bg: lighten(#edf1f3, 0.4%);

// 深色主题
//$body-dark-bg: #262c49;
$body-dark-bg: #2c2c43;
$body-dark-color: #222233;
$body-content-dark-bg: #2c2c43;
$body-darker-color: #1e1e2d;
$body-dark-font-color: #a8a9bb;
//$body-dark-heading-color: darken(#ebeefd, 2%);
$body-dark-heading-color: lighten($body-dark-font-color, 12%);
$body-dark-table-bg: $body-dark-color;
$body-dark-border-color: darken(#363950, 3%);

// 灰背景色
$gray-bg: #f1f1f1;

// 常用边框颜色
$border-color: #ebeff2;

// 表单边框颜色
$input-border-color: darken(#e4eaec, 3%);

// 常用分割线颜色
$divider-color: #f4f4f4;

//$table-border-color: darken(#f1f1f1, 5%);
$table-border-color: #f0f0f0;
$table-border-color-darker: #e4e4e4;
$table-td-height: 60px;