
// 文本颜色
.text-primary-darker {
  color: $primary-darker!important;
}
.text-danger-darker {
  color: $red-darker!important;
}
.text-blue-darker {
  color: $blue-darker!important;
}
.text-custom {
  color: $custom!important;
}
.text-pink {
  color: $pink!important;
}
.text-yellow {
  color: $yellow!important;
}
.text-light {
  color: $light!important;
}
.text-white50 {
  color: $white50!important;
}
.text-orange {
  color: $orange!important;
}
.text-orange-1 {
  color: $orange-1!important;
}
.text-orange-2 {
  color: $orange-2!important;
}
.text-blue-1 {
  color: $blue-1!important;
}
.text-blue-2 {
  color: $blue-2!important;
}
.text-cyan {
  color: $cyan!important;
}

.text-tear {
  color: $tear!important;
}
.text-tear-1 {
  color: $tear-1!important;
}

// 深色
.text-gray {
  color: $gray!important;
}
.text-20 {
  color: $dark20!important;
}
.text-30 {
  color: $dark30!important;
}
.text-35 {
  color: $dark35!important;
}
.text-40 {
  color: $dark40!important;
}
.text-50 {
  color: $dark50!important;
}
.text-60 {
  color: $dark60!important;
}
.text-70 {
  color: $dark70!important;
}
.text-80 {
  color: $dark80!important;
}
.text-85 {
  color: $dark85!important;
}


// 背景颜色
.bg-custom {
  background: $custom!important;
}
.bg-pink {
  background: $pink!important;
}
.bg-yellow {
  background: $yellow!important;
}
.bg-light {
  background: $light!important;
}
.bg-white50 {
  background: $white50!important;
}
.bg-orange {
  background: $orange!important;
}
.bg-orange-1 {
  background: $orange-1!important;
}
.bg-orange-2 {
  background: $orange-2!important;
}
.bg-blue-1 {
  background: $blue-1!important;
}
.bg-blue-2 {
  background: $blue-2!important;
}
.bg-cyan {
  background: $cyan!important;
}
.bg-tear {
  background: $tear!important;
}
.bg-tear-1 {
  background: $tear-1!important;
}

// 深色
.bg-default {
  background: #d2d6de!important;
}
.bg-gray {
  background: $gray!important;
}
.bg-20 {
  background: $dark20!important;
}
.bg-30 {
  background: $dark30!important;
}
.bg-35 {
  background: $dark35!important;
}
.bg-40 {
  background: $dark40!important;
}
.bg-50 {
  background: $dark50!important;
}
.bg-60 {
  background: $dark60!important;
}
.bg-70 {
  background: $dark70!important;
}
.bg-80 {
  background: $dark80!important;
}

.bg-primary-gradient {
  background-image: linear-gradient(60deg, $primary,  0%, lighten($primary, 5%) 37%, lighten($primary, 18%) 65%, lighten($primary, 22%) 100%);
}
