// ================================================================================================
//  File Name: dcat-bootstrap.scss
//  Description: Dcat Admin应用样式
//  ----------------------------------------------------------------------------------------------
//  Item name: Dcat Admin
//  Author: Jqh
//  Author URL: https://github.com/jqhph
// ================================================================================================

@import "../../sass/core/variables/variables";
@import "./variables";

// 进度条
@import "./nprogress/NProgress";

// sweetalert弹窗
@import "./sweetalert/sweetalert2";

html body {
  background-color: $body-background;
  color: $font-color;
}

// 字体
body, .header-navbar, .navigation, .breadcrumb, h1, h2, h3, h4, h5 {
  font-family: Nunito, Montserrat,system-ui,BlinkMacSystemFont,-apple-system,sans-serif;
}

html body .content .content-wrapper {
  padding: calc(2.2rem - 0.4rem) 2.45rem 0;
}

// 布局
@import "./components/layout";
// 按钮
@import "./components/button";
// 表单
@import "./components/form";
// 分页
@import "./components/pagination";
// data-list-view 表格
@import "./components/table";
// grid
@import "./components/grid";
// 下拉菜单
@import "./components/dropdown";
// checkbox
@import "./components/checkbox";
// card
@import "./components/card";
// tree jquery.nestable
@import "./components/nestable";
// layer弹窗
@import "./components/layer";
// 滑动面板
@import "./components/slider";
// 时间日期插件
@import "./components/datetimepicker";

body.vertical-layout.vertical-menu-modern.menu-expanded .main-menu .navigation > li > a > i:before {
   font-size: 1.3rem;
}

// 顶部导航栏
.header-navbar.navbar-shadow {
  box-shadow: $shadow;
}

// 菜单
.main-menu.menu-shadow {
  box-shadow: $menu-shadow;
}

// 面包屑导航
.breadcrumb {
  border-left: 0;
}

// 页面标题
.content-header h1 {
  font-weight: 400;
  font-size: 24px;
  display: inline-block;
  font-family: Montserrat,Nunito,sans-serif;

  small {
    font-size: 15px;
    display: inline-block;
    padding-left: 5px;
    font-weight: 300;
  }
}

// code
code {
  box-shadow: 0 1px 1px rgba(0,0,0,0.125);
  padding: 3px 5px;
  background: #f7f7f9;
}
pre {
  padding: 7px;
  white-space: pre-wrap;
  margin-bottom: 0;
}
