// ================================================================================================
//  File Name: dcat-bootstrap.scss
//  Description: Dcat Admin应用样式
//  ----------------------------------------------------------------------------------------------
//  Item name: Dcat Admin
//  Author: Jqh
//  Author URL: https://github.com/jqhph
// ================================================================================================

@import "variables/variables";

// 进度条
@import "./nprogress/NProgress";

// sweetalert弹窗
@import "./sweetalert/sweetalert2";

@import "./mixins/scrollbar";

html {
  font-size: 14px;
  height: 100%;
  letter-spacing: .01rem;
}

html body {
  background-color: $body-bg;
  color: $font-color;
}

.body-bg,
.content-wrapper {
  background: $body-bg;
}

// 滚动条
@include scrollbar('body');
@include scrollbar('.table-main');
@include scrollbar('.table-responsive');
@include scrollbar('.select2-container--default .select2-results>.select2-results__options');
@include scrollbar('.layui-layer-page .layui-layer-content');
@include scrollbar('.iconpicker .iconpicker-items');

// 字体
body, .header-navbar, .navigation, .breadcrumb, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $font-family-sans-serif;
}

li {
  list-style-type: none;
}

// 颜色class定义
@import "./colors";
// 常用class定义
@import "./components/utilities";
// 布局
@import "./components/layout";
// 按钮
@import "./components/button";
// 顶部导航栏
@import "./components/header-navbar";
// 页面头
@import "./components/content-header";
// 表格自定义样式
@import "./components/custom-data-table";
// 表单
@import "./components/form";
// 分页
@import "./components/pagination";
// data-list-view 表格
@import "./components/table";
// grid
@import "./components/grid";
// 下拉菜单
@import "./components/dropdown";
// checkbox
@import "./components/checkbox";
// radio
@import "./components/radio";
// card
@import "./components/card";
// tree jquery.nestable
@import "./components/nestable";
// layer弹窗
@import "./components/layer";
// 滑动面板
@import "./components/slider-panel";
// grid selector
@import "./components/grid-selector";
// box
@import "./components/box";
// label
@import "./components/label";
// tab
@import "./components/tab";
// menu
@import "./components/menu";
@import "./components/horizontal-menu";
// alert
@import "./components/alert";
// code
@import "./components/code";
// link
@import "./components/link";
// img
@import "./components/img";
// popover
@import "./components/popover";
// datetime picker
@import "./components/datetime-picker";
// 模态窗
@import "./components/modal";
// icon picker
@import "./components/icon-picker";

// dark mode
@import "./theme/dark";
