.btn {
  padding: .75rem 1.45rem!important;
  font-size: .95rem;
  height: 36px;
  line-height: .7;
  border-radius: 0.35rem;
}

.btn-sm, .btn-group-sm > .btn {
  padding: 0.7rem 1.3rem!important;;
  font-size: 0.6rem;
  line-height: 12px;
  height: 32px;
}


.btn-custom {
  background: $custom;
  border-color: $custom;
  color: $white;
}

.btn-custom:hover {
  color: $white;
  box-shadow: 0 8px 25px -8px $custom;
}

.btn-outline-custom {
  background: $white;
  border: 1px solid $custom;
  color: $custom;
}

.btn-outline-custom:hover {
  background: rgba($custom, .15);
  color: $custom;
}

.btn-shadow {
  box-shadow: $btn-shadow;
}
.btn-shadow:hover {
  box-shadow: $btn-shadow-hover;
}
