.btn {
  padding: 0.54rem 1.2rem !important;
  height: 36px;
  line-height: 1.2;
  border-radius: 0.2rem;
  box-shadow: $btn-shadow;
  cursor: pointer;
}
a.btn, div.btn, span.btn {
  line-height: 1.4;
}

div.btn.btn-sm, .btn-group-sm > div.btn, span.btn.btn-sm, .btn-group-sm > span.btn {
  line-height: 1.2;
}

a.btn-sm, .btn-group-sm > a.btn {
  line-height: 1.1;
}

.btn-warning {
  color: white;
}

.btn-group {
  .btn {
    box-shadow: none;
  }
  .btn:not(.btn-white):hover {
    box-shadow: $shadow-200;
  }
  .btn.btn-white {
    box-shadow: $btn-group-btn-shadow;
  }

  box-shadow: $btn-shadow;
}

.btn-sm, .btn-group-sm > .btn {
  //padding: 0.45rem 1rem !important;
  font-size: 12px;
  line-height: 1.1;
  height: 30px;
}

.btn-default {
  background: white;
  border-color: white;
}
.btn-default:hover, .btn-default:focus, .btn-default.active {
  background: white;
  box-shadow: $shadow-100;
}
//a.btn-sm, .btn-group-sm > a.btn {
//  line-height: 1.4;
//}

// --------------------- btn-custom -----------------------
.btn-custom {
  @include button-variant($custom, $custom);
  color: #fff;
}
.btn-outline-custom {
  @include button-outline-variant($custom, $custom);
}
// --------------------- btn-cyan -----------------------
.btn-cyan {
  @include button-variant($cyan, $cyan);
}
.btn-outline-cyan {
  @include button-outline-variant($cyan, $cyan);
}

.btn.btn-white {
  color: $font-color;
}
.btn.btn-white.btn-primary, .btn.btn-white.btn-primary:hover, .btn.btn-white.btn-primary:focus {
  color: $white !important;
}
.btn-white:hover,.btn-white:focus,.btn-white.active {
  box-shadow: $btn-shadow-hover !important;
}

.btn-light {
  border-color: #f7f7f9!important;
  background-color: #f7f7f9!important;
  color: #444;
}

.btn-light:hover, .btn-light:focus {
  box-shadow: $btn-shadow-hover!important;
  color: #444!important;
}

.btn-no-shadow {
  box-shadow: none;
}

.btn-outline-primary, .btn-outline-success, .btn-outline-danger, .btn-outline-info, .btn-outline-warning, .btn-outline-dark,
.btn-flat-primary, .btn-flat-success, .btn-flat-danger, .btn-flat-info, .btn-flat-warning, .btn-flat-dark {
  box-shadow: none;
}

.input-group-sm > .form-control, .input-group-sm > .custom-select, .input-group-sm > .input-group-prepend > .input-group-text, .input-group-sm > .input-group-append > .input-group-text, .input-group-sm > .input-group-prepend > .btn, .input-group-sm > .input-group-append > .btn {
  padding: 0.5rem .7rem;
}

// loading
.btn:not(.btn-sm) .spinner-grow, a:not(.btn) .spinner-grow {
  margin-bottom: .15rem;
}

