.card {
  box-shadow: $shadow;
  margin-bottom: 1.5rem;
  border-radius: $card-border-radius;
}

.card .card-header {
  padding: 1.1rem 1.1rem 0;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.card-header.with-border {
  border-bottom: 1px solid $divider-color;
  padding: 1.1rem;
}

.card-box-title {
  font-size: 1.1rem;
}

.card-title {
  font-size: 1.2rem;
}

.card-footer {
  padding: 1.1rem;
  background: transparent;
  border-color: $divider-color!important;
}

.card-body {
  padding: 1.1rem;

  .card-footer {
    padding: .8rem;
    margin: -1.1rem;
  }
}
