// 面包屑导航
.breadcrumb {
  border-left: 0;
}

.content-header {
  padding: 0 0 2px;
}

// 页面标题
.content-header h1 {
  font-weight: 400;
  font-size: 24px;
  display: inline-block;
  font-family: Montserrat,Nunito,sans-serif;

  small {
    font-size: 15px;
    display: inline-block;
    padding-left: 5px;
    font-weight: 300;
  }
}
