.dropdown-menu {
  z-index: 20;
}

.dropdown {
  .dropdown-menu {
    box-shadow: $shadow-100;
    border: 0;
    min-width: 10rem;
    transform: none;

    .dropdown-item:hover {
      background-color: $dark30;
      color: $font-color;
    }
  }

  .dropdown-menu::before {
    border-top: 1px solid rgba(0, 0, 0, 0.07);
    border-left: 1px solid rgba(0, 0, 0, 0.07);
  }

  i {
    margin-right: 0;
  }
}
.dropdown .dropdown-menu .dropdown-item, .dropup .dropdown-menu .dropdown-item, .dropright .dropdown-menu .dropdown-item, .dropleft .dropdown-menu .dropdown-item {
  padding: 0;
  color: $font-color;
}
.dropdown-item a, .dropdown-menu label {
  //font-size: .95rem;
  color: $font-color;
}
.dropdown-item a {
  padding: 0.35rem 1.38rem;
  display: block;
}