.form-control {
  border-color: $input-border-color;
  color: $font-color;
}

.form-control:not(textarea) {
  padding: .5rem .7rem;
  font-size: .9rem;
}

input.form-control, div.form-control {
  //max-height: 36px;
  min-height: $input-height;
  border-radius: $card-border-radius;
}

.input-group-text {
  border-color: $input-border-color;
}

.form-control-sm {
  padding: 0.5rem 1.5rem;
}

select.form-control:not([multiple=multiple]) {
  background-image: none;
}

.input-group-sm > .form-control, .input-group-sm > .custom-select, .form-control-sm {
  line-height: 13px;
}

.input-group-sm > input.form-control, .input-group-sm > div.form-control, div.form-control-sm, input.form-control-sm {
  max-height: 30px;
  min-height: 30px;
}

.input-group .form-control {
  height: 100%;
}


.input-group-text {
  padding: 0.6rem 0.9rem;
  border-radius: $card-border-radius;
}

.help-block {
  display: block;
  margin-top: 7px;
  margin-bottom: 3px;
  color: #737373;
}

.control-label {
  padding-top: 10px;
  padding-right: 5px;
  margin-bottom: 0;
  font-size: 1rem;
  text-transform: capitalize;
}

.fields-group .row.form-group {
  margin-right: 0;
  margin-left: 0;
}

@media (min-width: 768px) {
  .form-group .control-label {
    text-align: right;
  }
}

.with-errors.help-block {
  margin-bottom: 4px;
}

.form-control:disabled,
.form-control[readonly],
.select2-container--default.select2-container--disabled .select2-selection--single,
.select2-container--default.select2-container--disabled .select2-selection--multiple {
  background-color: #F7F7F9!important;
  cursor: not-allowed!important;
}

.has-error .checkbox,
.has-error .checkbox-inline,
.has-error .control-label, .has-error .help-block,
.has-error .radio,
.has-error .radio-inline,
.has-error.checkbox label,
.has-error.radio label,
.has-error .form-control-position i,
.has-error .form-control:focus ~ .form-control-position i {
  color: $red-darker;
}

.control-label.asterisk:before {
  content: "* ";
  font-weight: bold;
  color: $red-darker;
}

.form-group.has-error .form-control {
  border-color: $red-darker;
}

.input-group-prepend .input-group-text {
  margin-right: -1px;
  max-height: $input-height;
}

// --------------------- input-group-addon ---------------------
.input-group-addon {
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  background-color: $white;
  border: 1px solid $input-border-color;
  min-width: 30px;
}
.input-group-sm>.input-group-addon {
  height: 30px;
  padding: 5px 10px;
  font-size: .7rem;
  line-height: 1.5;
}
// --------------------- input-group-addon ---------------------



// --------------------- select2 ---------------------
.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--multiple,
.select2-container--default .select2-search--dropdown .select2-search__field {
  border-color: $input-border-color!important;
  border-radius: $card-border-radius!important;
}

.select2-search--inline {
  display: inline-block;
}

.select2-container--default .select2-dropdown .select2-search__field:focus, .select2-container--default .select2-search--inline .select2-search__field:focus {
  border-color: $primary!important;
}

.select2-container--classic .select2-selection--multiple .select2-selection__rendered li .select2-search__field, .select2-container--default .select2-selection--multiple .select2-selection__rendered li .select2-search__field {
  margin-top: 8px;
}

.input-group {
  .select2-container {
    width: 50%!important;
    flex: 1 1 auto;
  }
}

.select2-container .select2-selection--multiple {
  min-height: $input-height!important;
  //max-height: 36px!important;
}

.select2-container--classic .select2-selection--single, .select2-container--default .select2-selection--single {
  min-height: $input-height;
  padding: 5px;
  border: 1px solid rgba(0,0,0,.2);
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 32px!important;
}

.select2-dropdown {
  border: 1px solid rgba(0, 0, 0, 0.03)!important;
  box-shadow: $shadow;
}
.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: $gray-bg!important;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: $dark40!important;
  color: $font-color!important;
}
.select2-results__option {
  padding: 6px 10px!important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
  padding: 2px 5px!important;
  border: 0!important;
  font-size: 90%;
  background-color: $primary!important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  color: #fff!important;
  border-right: 0!important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover, .select2-container--default .select2-selection--multiple .select2-selection__choice__remove:focus {
  background-color: $primary!important;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
  padding: 0 .25rem!important;
}

.select2-selection .default-text {
  display: inline-block;
  padding: .5rem .7rem 0;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 30px!important;
}

.input-group-sm {
  .select2-container--classic .select2-selection--single, .select2-container--default .select2-selection--single {
    min-height: 31px;
    padding: 1px 2px;
    font-size: 0.7rem;
  }

  .select2-selection .default-text {
    padding: .3rem .5rem 0;
  }

  .select2-container--default .select2-selection--multiple .select2-selection__rendered {
    padding: 0 0.4rem !important;
  }

  .select2-container--default .select2-selection--multiple {
    min-height: 30px !important;
    padding: 0 2px;
    font-size: 0.7rem;
    line-height: 14px;
  }

  .select2-container--default .select2-selection--single .select2-selection__arrow {
    top: -3px;
  }

  .select2-container--classic .select2-selection--multiple .select2-selection__rendered li .select2-search__field, .select2-container--default .select2-selection--multiple .select2-selection__rendered li .select2-search__field {
    margin-top: 6px;
  }
}

// --------------------- select2 ---------------------


// listbox图标
.glyphicon-arrow-right:before {
  font-family: feather;
  content: "\e829";
}
.glyphicon-arrow-left:before {
  font-family: feather;
  content: "\e828";
}
.bootstrap-duallistbox-container .info {
  color: $font-color!important;
}

//
.has-icon-left .form-control-position {
  right: auto;
  left: inherit;
}
.form-control-position {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
}
.has-icon-left .form-control {
  padding-right: 2rem;
  padding-left: 3rem;
}

// divider
.form-divider {
  height: 20px;
  border-bottom: 1px solid #eee;

  span {
    font-size: 16px;
    background-color: #ffffff;
    padding: 0 10px;
  }
}