.grid-column-header {
  a {
    color: darken($dark70, 5%);
    font-size: 1rem;
  }
  a:hover, a.active {
    color: $primary-darker;
  }
}
// 排序图标
.grid-sort {
  display: inline-block;
  margin: -2px -4px 0 3px;
  height: 15px;

  .up:before {
    font-family: "feather";
    padding-right: 0.3rem;
    font-size: 0.7rem;
    content: "\E845";
  }

  .down {
    margin: 6px 0 0 -1.17rem;
  }
  .down:after {
    font-family: "feather";
    content: "\E842";
    font-size: 0.7rem;
  }
}

// 过滤器滑动面板
.right-side-filter-container .header {
  border-bottom: 1px solid $divider-color;
  width: 100%;
  background: #fff;
  z-index: 10;
  top: 0;
  margin-left: -1rem;
}

// 快捷新增
.quick-create {
  td {
    padding-left: 45px;
    background-color: #f3f3f3;
    vertical-align: middle;
    //border-radius: .5rem;
    height: 32px;
    color: #777;
  }
}


.grid-modal {
  .modal-body {
    //background:$body-bg;
    padding:1.5rem
  }
}

.simple-grid {
  .filter-box {
    background: transparent;
    box-shadow: none!important;
    padding: 0!important;
    margin: 1rem 0 -1rem!important;
    padding-bottom: 0!important;

    .form-group {
      margin-bottom: 1rem;
    }
  }

  .custom-data-table-header .table-responsive .top .dataTables_filter .form-control {
    border-radius: .4rem;
    border: 1px solid $input-border-color;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
  }
}

body:not(.dark-mode) .simple-grid {
  .table-collapse .table.custom-data-table {
    padding: 5px 0 0;
  }
  .table-collapse table.custom-data-table.dataTable thead th {
    height: 20px;
  }

  .table-collapse .custom-data-table.dataTable tbody td {
    height: 35px;
  }

  .table-collapse {
    box-shadow: none;
    border: 1px solid #ededf1!important;
  }
}
