.layui-layer {
  box-shadow: 0 2px 6px 0 rgba(0,0,0,.2)!important;
  //border-radius: $card-border-radius!important;
}

.layui-layer-title {
  padding: 0 80px 0 20px;
  height: 52px!important;
  line-height: 52px!important;
  border-bottom: 1px solid $divider-color!important;
  font-size: 1.1rem!important;
  text-transform: capitalize;
  overflow: hidden;
  background-color: #fff!important;
  border-radius: $card-border-radius $card-border-radius 0 0!important;
}
.layui-layer-setwin .layui-layer-min cite {
  background: transparent!important;
  position: initial!important;
}

.layui-layer-setwin .layui-layer-min cite:before {
  font-family: "feather";
  content: "\e897";
  font-size: 1.1rem;
  color: $font-color;
}

.layui-layer-ico {
  background: transparent!important;
  color: $font-color;
}

.layui-layer-setwin .layui-layer-max:before {
  font-family: "feather";
  content: "\e908";
  font-size: 1rem;
}
.layui-layer-setwin .layui-layer-maxmin:before {
  content: "\e88d";
}

.layui-layer-setwin .layui-layer-close1:before {
  font-family: "feather";
  content: "\e8f6";
  font-size: 1.1rem;
}
.layui-layer-setwin .layui-layer-close1 {
  margin-left: 7px!important;
}

.layui-layer-setwin a {
  top: 3px;
}

.layui-layer-tips .layui-layer-content,.layui-layer-tips {
  font-size: 13px!important;
  box-shadow: none!important;
}

.layui-layer-btn a {
  height: 30px!important;
  line-height: 20px!important;
  padding: 4px 15px!important;
  font-size: .85rem;
  box-shadow: $shadow-100;
  border-color: $white!important;
}

//.layui-layer-btn a.btn-loading {
//  padding-top: 8px!important;
//}

.layui-layer-btn .layui-layer-btn0 {
  border-color: $primary!important;
  background-color: $primary!important;
  color: $white!important;
}

.layui-layer-border {
  border: 0!important;
}
