h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  line-height: 1.3
}

.content .content-wrapper {
  padding: 7rem $content-wrapper-padding 0;
}

.navbar-fixed-top {
  .content-wrapper {
    padding-top: 6.4rem;
  }
}

.full-page {
  .content .content-wrapper {
    padding: 0;
    margin-left: 0!important;
  }
}

ol, ul, dl {
  margin-bottom: 0;
}