.main-menu {
  .navbar-header {
    padding: 0.35rem 1rem 0;

    .navbar-brand {
      margin-top: 1.1rem;

      img {
        display: inline-block;
        max-width: 45px;
        max-height: 40px;
        margin-top: -1px;
      }
    }

    .logo-mini {
      display: none;
      font-size: 1.8rem;
      color: darken($primary-darker, 1%);
    }

    .logo-lg {
      color: darken($primary-darker, 1%);
      letter-spacing: 0.01rem;
      font-size: 1.45rem;
      -webkit-animation: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1) 0s normal forwards 1 fadein;
      animation: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1) 0s normal forwards 1 fadein;
    }

    .nav-item {
      width: 100%;
      text-align: center;
    }

    .navbar-brand {
      display: inline-block;
      margin: 10px 0;
    }
  }

  [class*='sidebar-dark-'] {
    .navbar-header {
      .logo-lg,.logo-mini {
        color: #f7f7f7;
      }
    }
  }
}

.main-menu.menu-light .navigation > li.active > a {
  box-shadow: 0 0 4px 1px rgba($primary, 0.7);
}

// 菜单
.main-menu.menu-shadow {
  box-shadow: $menu-shadow;
}

body.sidebar-collapse {
  .main-sidebar:not(:hover) {
    .navbar-header {
      //width: 80px;
      padding: 0.35rem 15px;

      .logo-lg {
        display: none;
      }

      .logo-mini {
        display: inline-block;
      }
    }
  }
}

.main-sidebar {
  .nav-sidebar .nav-item > .nav-link {
    font-size: 1.04rem;
    border-radius: .1rem;
  }
}

.nav-pills .nav-link:not(.active):hover {
  color: $font-color;
}

[class*=sidebar-dark-] {
  .navbar-header {
    padding: 0 1rem 0;
    height: 61px;
    //background: $body-darker-color;
    background: #262d37
    //background: #313a46;
  }

  .navbar-header .navbar-brand {
    margin: 8px 0;
  }
}

[class*=sidebar-light-] .nav-treeview>.nav-item>.nav-link.active, [class*=sidebar-light-] .nav-treeview>.nav-item>.nav-link.active:hover {
  color: $primary-darker;
  background: none;
  box-shadow: 0 0;
}

.nav-treeview > .nav-item > .nav-link p i {
  margin-top: -5px;
}

.sidebar-light-primary .nav-item > .nav-link.active {
  background: none;
  color: $primary-darker !important;
  font-weight: bold;
  box-shadow: 0 0;
}

.nav-sidebar>.nav-item>.nav-treeview  .nav-link p {
  font-size: 14px;
}

// ----- sidebar-separate
body.sidebar-separate {
  .main-sidebar {
    top: 6rem;
    left: 1.5rem;
    text-align: center;
    background-color: #fff;
  }
  //.main-sidebar:not(.sidebar-primary) {
  //  background: url(/vendors/dcat-admin/images/waves.png) no-repeat;
  //  background-color: #fff;
  //}

  .navbar-header {
    .logo-lg,
    .logo-mini {
      color: $font-color;
    }

    .navbar-brand {
      margin-top: 1rem!important;
    }
  }

  .header-navbar.fixed-top,
  .sidebar-collapse .header-navbar.fixed-top {
    left: 0;
  }

  @media (min-width: 768px) {
    .content-wrapper {
      margin-left: 280px;
    }
  }

  .main-sidebar .nav-sidebar .nav-item>.nav-link {
    text-align: left;
  }
}

body.sidebar-separate.dark-mode [class*=sidebar-dark-] .navbar-header {
  background: unset!important;
  height: auto;
  padding: 0.35rem 1rem 0;
}

//
.main-sidebar.sidebar-primary {
  background-color: $primary!important;

  .navbar-header .logo-mini,
  .navbar-header .logo-lg,
  .nav-treeview > .nav-item > .nav-link,
  .sidebar a {
    color: $white;
  }

  .nav-pills .nav-link:not(.active):hover {
    color: $white;
  }

  .nav.nav-pills .nav-item .nav-link.active,
  .nav-treeview > .nav-item > .nav-link.active,
  .nav-treeview>.nav-item>.nav-link:hover {
    //background-color: #f7f7f9;
    //color: #555;
    font-weight: bold;
    border-bottom: 1px solid $white;
  }

  .nav-item>.nav-link i {
    margin-right: .71rem;
    font-size: 1.2rem;
  }
  .nav-treeview>.nav-item>.nav-link i {
    margin-right: .65rem;
    margin-left: 3px;
  }

  //.navbar-header .navbar-brand {
  //  margin-top: .5rem;
  //}
  //
  //.navbar-header {
  //  padding: 0 1rem 0;
  //  height: 61px;
  //  background: $primary-darker;
  //}
}

