.dd {
  margin: 0!important;
}

.dd-item > button:before {
  font-family: "feather";
  content: "\e844"!important;
  margin-top: 3px;
}

.dd-item > button[data-action="collapse"]:before {
  content: "\E842"!important;
}

.dd-handle {
  border: 1px solid lighten($input-border-color, 5%)!important;
  border-radius: .2rem!important;;
}