.table {
  color: $font-color;
  margin-bottom: 0;
}

table.dataTable thead tr {
  background: transparent;
}

.table th {
  padding: .9rem;
  text-transform: capitalize;
  font-size: .95rem!important;
}

table.dataTable thead th, table.dataTable thead td, table.dataTable tfoot th, table.dataTable tfoot td {
  font-size: .9rem!important;
}

table.dataTable:not(.table-bordered) thead tr th {
  text-transform: capitalize;
}

table.dataTable {
  border: 0;
}

.table td {
  padding: .55rem;
  height: 62px;
  line-height: 1.42857;
  font-size: .9rem;
}

.table tr td:first-child, .table tr th:first-child {
  padding-left: 1.4rem;
}

// 快捷搜索
.data-list-view-header .table-responsive .top .dataTables_filter .form-control, .data-thumb-view-header .table-responsive .top .dataTables_filter .form-control {
  padding: 1.23rem 2.8rem !important;
  border-radius: 1.4rem;
  border: 0;
  box-shadow: $shadow;
}

.card-header.data-list-view-header .table-responsive .top .dataTables_filter .form-control {
  box-shadow: $shadow-100;
}

.quick-search-clear {
  margin-left:-1.45rem;
  position: relative;
  color: $white;
}

// 解决 rwd-table 下拉选框显示bug
.table-responsive {
  border: 0!important;
  margin-bottom: 0!important;
}
.data-list-view-header .table-responsive {
  overflow: visible!important;
  padding-bottom: 0!important;
}
.sticky-table-header {
  z-index: 45!important;
}

// 解决 rwd-table 下拉选框显示bug


table.table-bordered.dataTable:not(.complex-headers) tbody th, table.table-bordered.dataTable tbody td {
  border-bottom-width: 1px
}
table.table-bordered.dataTable th:not(.complex-headers), table.table-bordered.dataTable td {
  border-left-width: 1px;
}
table.table-bordered.dataTable th:last-child, table.table-bordered.dataTable th:last-child, table.table-bordered.dataTable td:last-child, table.table-bordered.dataTable td:last-child {
  border-right-width: 1px;
}

table.dataTable.complex-headers {
  border-color: #eee;
}
table.dataTable.complex-headers thead th, table.dataTable.complex-headers thead td, table.dataTable.complex-headers tfoot th, table.dataTable.complex-headers tfoot td {
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
}

.dataTable.table-bordered:not(.complex-headers) thead th {
  border-right: 1px solid darken($border-color, 3%);
  border-bottom: 1px solid darken($border-color, 3%);
}
.dataTable.table-bordered:not(.complex-headers) tr:first-child th {
  border-top: 1px solid darken($border-color, 3%);
}
.dataTable.table-bordered:not(.complex-headers) thead tr th:first-child {
  border-left: 1px solid darken($border-color, 3%);
}

/* ------------------- 多表头 --------------------- */
table.table-bordered.dataTable.complex-headers {
  border-spacing: 0;

  thead th {
    text-align: center;
    vertical-align: middle;
    font-size: 1rem!important;
  }

  tbody tr {
    box-shadow: none;
    border-radius: 0;

    td {
      border-bottom: 1px solid #f1f1f1;
      border-right: 1px solid #f1f1f1;
    }

    td:first-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    td:last-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-right: 0;
    }
  }

  tbody tr:last-child td {
    border-bottom: 0;
  }
}
