.editormd-html-preview code, .editormd-preview-container code {
  font-size: 13px !important;
  font-family: "Inconsolata", "Fira Mono", Consolas, "Liberation Mono", Menlo, Courier, monospace !important;
  word-wrap: break-word !important;
}

.markdown-body pre code {
  box-shadow: none;
}

.com {
  color: #93939e !important;
}

.tag, .typ {
  color: #DA564A !important;
}

.opn {
  color: #93A1A1 !important;
}

.clo {
  color: #93A1A1 !important;
}

.atn, .lit {
  color: #007ee5 !important;
}

.atv {
  color: #fc8bb3 !important;
}

.dec {
  color: teal !important;
}

.var {
  color: teal !important;
}

.fun {
  color: #DC322F !important;
}

pre.prettyprint {
  padding: 10px;
  border: 1px solid #E1E1E8 !important;
  tab-size: 4 !important;
}

pre.prettyprint.linenums {
  box-shadow: 40px 0 0 rgba(238, 238, 238, 0.35) inset, 41px 0 0 rgba(238, 238, 238, 0.35) inset !important;
}

pre.prettyprint.linenums ol.linenums {
  color: #1E347B !important;
  padding-left: 30px !important;
  margin-top: 0 !important;
  margin-bottom: 0
}

pre.prettyprint.linenums ol.linenums li {
  color: #BEBEC5 !important;
  line-height: 18px !important;
  padding-left: 12px !important;
  background: #f7f7f9!important;
}

pre.prettyprint.linenums ol.linenums li.L0, pre.prettyprint.linenums ol.linenums li.L1, pre.prettyprint.linenums ol.linenums li.L2, pre.prettyprint.linenums ol.linenums li.L3, pre.prettyprint.linenums ol.linenums li.L4, pre.prettyprint.linenums ol.linenums li.L5, pre.prettyprint.linenums ol.linenums li.L6, pre.prettyprint.linenums ol.linenums li.L7, pre.prettyprint.linenums ol.linenums li.L8, pre.prettyprint.linenums ol.linenums li.L9 {
  list-style-type: decimal !important
}

pre.prettyprint {
  width: 100%;
  border: 0 !important;
}

.pln {
  color: #444 !important;
}

.kwd {
  color: #07a !important;
  font-weight: bold;
}

.pun {
  color: #999 !important;
}

.str {
  color: #2E7D32 !important;
}

pre.prettyprint {
  background-color: #f7f7f9!important;
  border: 0 solid #333
}

.editormd-html-preview, .editormd-preview-container {
  padding: 0
}