

/*nprogress*/
#nprogress {
  pointer-events: none
}

#nprogress .bar {
  //background: $primary-linear-gradient;
  background: rgba($primary, .8);
  position: fixed;
  z-index: 999999;
  top: 0;
  left: 0;
  width: 100%;
  height: 2.5px
}

#nprogress .peg {
  display: block;
  position: absolute;
  right: 0;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px $primary, 0 0 5px $primary;
  opacity: 1;
  -webkit-transform: rotate(3deg) translate(0, -4px);
  -ms-transform: rotate(3deg) translate(0, -4px);
  transform: rotate(3deg) translate(0, -4px)
}

#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 75px;
  right: 15px
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  border: solid 2px transparent;
  border-top-color: $primary;
  border-left-color: $primary;
  border-radius: 50%;
  -webkit-animation: nprogress-spinner .4s linear infinite;
  animation: nprogress-spinner .4s linear infinite
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative
}

//.nprogress-custom-parent #nprogress .bar, .nprogress-custom-parent #nprogress .spinner {
//  position: absolute
//}

@-webkit-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0)
  }
  100% {
    -webkit-transform: rotate(360deg)
  }
}

@keyframes nprogress-spinner {
  0% {
    transform: rotate(0)
  }
  100% {
    transform: rotate(360deg)
  }
}
/*nprogress*/