
// 继承
@import "../../../sass/core/variables/variables";
@import "./colors";


// 常用阴影颜色
$shadow: 0 2px 4px 0 rgba(0,0,0,.08);
$shadow-100: 0 3px 1px -2px rgba(0,0,0,.05), 0 2px 2px 0 rgba(0,0,0,.05), 0 1px 5px 1px rgba(0,0,0,.05);
$shadow-200: 0 3px 1px -2px rgba(0,0,0,.1), 0 2px 2px 0 rgba(0,0,0,.1), 0 1px 5px 1px rgba(0,0,0,.1);

// 按钮阴影颜色
$btn-shadow: $shadow-100;
$btn-shadow-hover: $shadow-200;
$btn-group-btn-shadow: 0 2px 0 0 rgba(0,0,0,.08);

// 菜单阴影
$menu-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05);

// 常用边框颜色
$border-color: #eee;

// 表单边框颜色
$input-border-color: #d9d9d9;

// 常用分割线颜色
$divider-color: #f4f4f4;
